@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mybookings {
  margin: 3rem 1rem;
  @include tablet {
    margin-left: 350px;
  }
  &__title {
    @include page-header;
    @include tablet {
      @include tablet-page-header;
    }
  }
  &__subheader {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
  }
  &__information {
    background-color: $primary-light;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2.5rem;
      position: relative;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 3.5rem;
      position: relative;
      flex-wrap: nowrap;
      &:hover {
        background-color: $primary-light;
      }
    }
  }
  &__container {
    flex-basis: 50%;
    @include desktop {
      flex-basis: 20%;
    }
  }
  &__subheader {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
  }
  &__actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0.5rem 0;
    }
    @include desktop {
      flex-basis: 10%;
    }
  }
}

div.mybookings__container p {
  font-size: 0.85em;
  @include tablet {
    font-size: 0.9em;
  }
}

.desktop-bar {
  border-top: none;
  padding-left: 1rem;
}
