@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.whoishere {
  margin: 1rem;
  @include tablet {
    margin-left: 21.875rem;
  }
  &__subheader {
    @include subheader;
    @include tablet {
      @include tablet-subheader;
    }
  }
  &__information {
    background-color: $primary-light;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2.5rem;
      position: relative;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // padding: 1.5rem 3.5rem;
      position: relative;
      flex-wrap: nowrap;
      &:hover {
        background-color: $primary-light;
      }
    }
  }
  &__container {
    flex-basis: 50%;
    @include desktop {
      flex-basis: 40%;
    }
  }
  &__checkin {
    flex-basis: 50%;
    @include desktop {
      flex-basis: 80%;
    }
  }
  &__subheader {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
  }
  &__text {
    font-size: 0.85em;
    @include tablet {
      font-size: 0.9em;
    }
  }
  &__actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0.5rem 0;
    }
  }
}
