@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  width: 100%;
  padding: 1rem;
  @include flex-all-center;
  background-color: $primary-dark;
  &__container {
    @include tablet {
      width: 50%;
      @include flex-row-center;
    }
  }
  &__logo {
    width: 100%;
    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__admin-button {
    align-self: flex-end;
    width: 25%;
    padding-top: 2px;
    font-size: 0.7em;
    background-color: $secondary-light;
    color: $primary-light;
    &:hover {
      background-color: black;
      color: $primary-cta;
    }
  }
}
