/* Primary Colours */
$primary-dark: #242434;
$primary-cta: #ffd885;
$primary-light: #fafafa;

/* Secondary Colours */
$secondary-dark: #1e1e1e;
$secondary-cta: #ffdfb1;
$secondary-light: #ffffff;

/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
