@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

footer {
  text-align: right;
  font-size: 0.8em;
  color: $primary-light;
  background-color: $primary-dark;
}
