@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  margin: 3rem 1rem;
  @include tablet {
    margin-left: 350px;
  }
  &__content {
    @include tablet;
    width: 80%;
    @include desktop {
      width: 60%;
    }
  }
  &__terms {
    font-size: 0.8em;
  }
}
