@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.all-users {
  @include tablet {
    margin-left: 350px;
  }
  &__subheader {
    @include subheader;
    @include desktop {
      display: none;
    }
  }
  &__heading {
    display: none;
    @include desktop {
      display: block;
      @include subheader;
    }
  }
  &__information {
    background-color: $primary-light;
    padding: 1rem 0;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.5rem;
      position: relative;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 3.5rem;
      position: relative;
      &:hover {
        background-color: rgb(36, 36, 52, 0.1);
      }
    }
  }
  &__container {
    @include desktop {
      flex-basis: 20%;
    }
  }
  &__actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0.5rem 0;
    }
    @include desktop {
      flex-basis: 10%;
    }
  }
}

.all-users p {
  @include body-copy;
}
