@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.all-users {
  margin: 1rem;
  @include tablet {
    margin-left: 21.875rem;
  }
  &__subheader {
    @include subheader;
    @include desktop {
      display: none;
    }
  }
  &__heading {
    display: none;
    @include desktop {
      display: block;
      @include subheader;
    }
  }
  &__sorting {
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
  &__information {
    background-color: $primary-light;
    padding: 1rem;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.5rem;
      position: relative;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 3.5rem;
      position: relative;
      flex-wrap: nowrap;
      &:hover {
        background-color: lightgray;
      }
    }
  }
  &__container {
    flex-basis: 50%;
    @include desktop {
      flex-basis: 20%;
    }
  }
  &__actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 0.5rem 0;
    }
    @include desktop {
      flex-basis: 10%;
    }
  }
}

.all-users p {
  @include body-copy;
}

div .desktop-bar {
  border-top: none;
}

div.all-users__sorting select,
input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  @include desktop {
    width: 10rem;
  }
}

div.all-users__sorting input {
  @include desktop {
    width: 20rem;
  }
}

div.all-users__sorting h4 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  @include desktop {
    display: none;
  }
}
