@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  background-color: $primary-dark;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  &__container {
  }
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: $primary-dark;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  @include tablet {
    width: 250px;
    left: -50%;
  }
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: $primary-light;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: $secondary-cta;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: $primary-dark;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.logout-btn {
  margin-left: 50%;
}
