@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}
#root {
  // background-color: $primary-dark;
  @include flex-col;
}
body {
  width: 100%;
  background: url("../assets/logo/logo-overlay.png") no-repeat;
  background-position: right bottom;
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  // color: $primary-light;
}

.wrapper {
  padding: 4.9375rem 9.6875rem;
}

.show {
  width: 100%;
  display: block;
}
.hide {
  display: none;
}
//Buttons
.btn {
  height: 2.25rem;
  padding: 0 1rem;
  border-radius: 30px;
  @include tablet {
    height: 2.375rem;
  }
}

.btn-secondary {
  // @include mb-label;
  background-color: $primary-light;
  color: $primary-dark;
  border: 1px solid $primary-dark;
  text-align: center;
  &:hover {
    border-color: $primary-cta;
    color: $primary-light;
  }
}

footer {
  margin-top: auto;
}

.main-container {
  width: 100%;
  @include flex-row;
}

.content-container {
  flex: 2;
}

.errorMessage {
  margin-top: 0.3125rem;
  font-size: 0.875rem;

  @include tablet {
    font-size: 1rem;
    @include tablet-subheader;
  }
}

.light-theme {
  color: $primary-cta;
}
.dark-theme {
  color: $primary-dark;
}
textarea,
input {
  resize: none;
  font-size: 0.9em;
  border: 0px;
  background-color: $primary-light;
  height: 2.25rem;
  border-radius: 5px;
  padding: 0 0.75rem;
  margin: 0.2rem 0;
  @include tablet {
    width: 40%;
    font-size: 1rem;
    border: 0px;
    background-color: $primary-light;
    height: 2.375rem; //38px
    border-radius: 5px;
    padding: 0 1rem; //16px
    margin: 0.2rem 0;
  }
}
input[type="radio"] {
  margin-top: -1px;
  margin-right: 5px;
  vertical-align: middle;
}

.icon {
  color: $primary-cta;
}

.primary-btn {
  color: $primary-dark;
  background-color: $primary-cta;
  &:hover {
    background-color: $secondary-cta;
    color: $secondary-dark;
    cursor: pointer;
  }
}

.btn {
  width: 100%;
  height: 2.375rem;
  border: 0;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.closeButton {
  z-index: 100;
  position: absolute;
  right: 21px;
  top: 21px;
  color: $primary-dark;
  background: url("../assets/icons/close.png") no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
}

.repeatButton {
  margin: 0.3125rem;
  color: $primary-dark;
  background: url("../assets/icons/repeat.png") no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
}

.deleteButton {
  @extend .repeatButton;
  background: url("../assets/icons/delete.png") no-repeat;
  background-size: cover;
}

.editButton {
  @extend .repeatButton;
  background: url("../assets/icons/edit.png") no-repeat;
  background-size: cover;
}

.checkoutButton {
  @extend .repeatButton;
  background: url("../assets/icons/checkout.png") no-repeat;
  background-size: cover;
}

.contactButton {
  @extend .repeatButton;
  background: url("../assets/icons/phonebook.png") no-repeat;
  background-size: cover;
}

.loadmore-btn {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
