@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}
#root {
  @include flex-col;
}
body {
  width: 100%;
  // background-color: $primary-dark;
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  // color: $primary-light;
}

.wrapper {
  padding: 4.9375rem 9.6875rem;
}

.show {
  width: 100%;
  display: block;
}
.hide {
  display: none;
}
//Buttons
.btn {
  height: 2.25rem;
  padding: 0 1rem;
  border-radius: 30px;
  @include tablet {
    height: 2.375rem;
  }
}

.btn-secondary {
  // @include mb-label;
  background-color: $primary-light;
  color: $primary-dark;
  border: 1px solid $primary-dark;
  text-align: center;
  &:hover {
    border-color: $primary-cta;
    color: $primary-light;
  }
}

// .submitButton {
//   background-color: $primary-cta;
//   width: 100%;
//   height: 3rem;
//   border: none;
//   color: $primary-dark;
//   margin-top: 1rem;
//   border-radius: 5px;
//   padding: 2px 16px;
//   text-align: center;
//   font-size: 1.125rem;
//   font-weight: 500;
//   @include tablet {
//     width: 33%;
//     margin: 0.625rem 0 0.625rem 1.5rem;
//   }
//   @include desktop {
//     width: 100%;
//   }
//   //hover effect on button
//   &:hover {
//     background-color: $secondary-cta;
//     color: $secondary-dark;
//     cursor: pointer;
//   }
// }

footer {
  margin-top: auto;
}

.main-container {
  width: 100%;
  @include flex-row;
}

.content-container {
  flex: 2;
}

.errorMessage {
  margin-top: 0.3125rem;
  font-size: 0.875rem;

  @include tablet {
    font-size: 1rem;
    @include tablet-subheader;
  }
}

a.light-theme {
  color: $primary-cta;
}
.light-theme {
  color: $primary-light;
}

.dark-theme {
  color: $primary-dark;
}
input {
  width: 100%;
  font-size: 1rem;
  border: 0px;
  background-color: $primary-light;
  height: 2.375rem; //38px
  border-radius: 5px;
  padding: 0 1rem; //16px
  margin: 0.2rem 0;
  @include tablet {
    width: 50%;
  }
}

.icon {
  color: $primary-cta;
}

.primary-btn {
  color: $primary-dark;
  background-color: $primary-cta;
  &:hover {
    background-color: $secondary-cta;
    color: $secondary-dark;
    cursor: pointer;
  }
}

.btn {
  width: 100%;
  height: 2.375rem;
  border: 0;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}
